// Grays
$gray-a: #F8F9FA;
$gray-b: #E9ECEF;
$gray-c: #DEE2E6;
$gray-d: #CED4DA;
$gray-e: #ADB5BD;
$gray-f: #6C757D;
$gray-g: #495057;
$gray-h: #343A40;
$gray-i: #212529;

// Strawberry
$straw-a: #F7D1CD;
$straw-b: #E8C2CA;
$straw-c: #D1B3C4;
$straw-d: #B392AC;
$straw-e: #735D78;

// Graps
$graps-a: #CCD5AE;
$graps-b: #E9EDC9;
$graps-c: #FEFAE0;
$graps-d: #FAEDCD;
$graps-e: #D4A373;
$graps-f: #7c5c3e;

// Fonts
$primary-fonts: "Playfair Display", serif;
$secondary-fonts: "Edu AU VIC WA NT Hand", cursive;
$tertiary-fonts: "Roboto", sans-serif;
